/* conteudos */
html {
    font-family: sans-serif;
}

body {
    font-family: Roboto, Avenir, Calibri, sans-serif;
    font-size: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1d3c69;
}

a:hover {
    text-decoration: none;
    color: #1d3c69;
}

#pagina {
    margin: 0 auto;
    width: 100%;
    border: none;
    background: #fff;
    padding: 0;
    display: block;
}

/*-- colunas --*/
#colunas {
    width: 100%;
    display: block;
    padding: 0;
    float: left;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#contentsite {
    width: 80%;
    display: inherit;
    padding: 0px 40px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

#contentsite p {
    line-height: 1.5em;
    padding: 10px 0;
    font-weight: 300;
    font-family: Roboto, Arial;
}

/* descrição */
#descricao {
    width: 100%;
    margin: 0;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    background: #bbc5d2;
    box-sizing: border-box;
    color: #3d668a;
    display: flow-root;
    text-align: center;
}


/* mapa informacoes */
.container {
    border: none;
    width: 100%;
    min-height: 300px;
    height: auto;
    background: #fff;
    margin: 0 auto;
}

.container iframe {
    width: 100%;
    min-height: 550px;
    border: none;
}


/* títulos */
h1 {
    font-size: 26px;
    font-weight: 600;
    color: #1d3c69;
    padding: 20px 0;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    color: #3f4a57;
    padding: 20px 0;
}

/* colunas */
#colunas #coluna {
    width: 100%;
    display: table;
    padding: 20px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

#colunas #coluna #cb {
    min-height: 450px;
    height: auto;
    display: inline-table;
    padding: 0;
    height: auto;
    margin: 0;
}

#colunas #coluna #cb.esquerda {
    width: 100%;
    background: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

#colunas #coluna #cb #conteudocoluna.principal {
    text-align: center;
    font-size: 16px;
}

/*-- cabeçalho --*/
#cabecalho {
    display: block;
    float: left;
    width: 80%;
    margin: 0;
    background-color: #1d3c69;
    color: #f6f6f7;
    padding: 0 20px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 50%;
    background-image: url(https://dqufpr.github.io/img/logo-site-hv.svg);
}

#cabecalho #titulo {
    padding: 0;
    height: auto;
    width: 100%;
    margin: 0;
    background: none;
    display: none;
}

/*-- menu principal --*/
#menu {
    background: rgb(29, 60, 105);
    height: 50px;
    display: inline-flex;
    float: left;
    position: relative;
    width: 20%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#menu ul.menubar {
    margin: 0;
    padding: 8px 0 0 0;
    font-size: 100%;
    width: 100%;
}

ul.menubar .itemmenubar {
    list-style: none;
    float: left;
    width: 33.32%;
}

ul.menubar .itemmenubar a {
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    text-align: center;
}

ul li.itemmenubar a:hover {
    color: #549db3;
}

/*-- rodapé--*/
#rodape {
    display: table;
    clear: both;
    background: #dee4ea;
    color: #5b5b5b;
    width: 100%;
    padding: 35px;
    border-top: none;
    margin: 0;
    font-size: 88%;
    box-sizing: border-box;
    font-family: Gotham;
}

#rodape span {
    background-color: none;
    background-image: url(https://dqufpr.github.io/img/logo-rodape.svg);
    background-position: left center;
    background-repeat: no-repeat;
    color: transparent;
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;

}

#rodape #coluna {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    float: left;
}

#rodape #coluna.rodape1 {
    text-align: left;
    padding: 0;
}

#rodape #coluna.rodape2 {
    text-align: right;
    padding: 0;
}

#rodape a {
    text-decoration: none;
    color: #373969;
}

#rodape p {
    line-height: 1.2em;
    padding: 0;
    margin: 8px 0 0 0;
}

/* responsivo */
@media (max-width: 650px) {
    #cabecalho {
        width: 100%;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-position: center;
        background-size: 60%;
        background-image: url(https://dqufpr.github.io/img/logo-site-mobile.svg);
    }

     #contentsite {
        width: 100%;
        display: inherit;
        padding: 0 20px;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #menu {
        width: 100%;
        position: relative;
        padding: 0;
        margin: 0 auto;
        background: #19345b;
        height: auto;
    }

    #menu ul.menubar {
        width: 100%;
        padding: 0;
    }

    ul.menubar .itemmenubar {
        width: 33.33%;
    }

    ul.menubar .itemmenubar a {
        font-size: 10px;
        padding: 10px 0px;
    }

    #rodape {
        width: 100%;
        text-align: center;
    }

    #rodape #coluna {
        width: 100%;
    }

    #rodape #coluna.rodape1,
    #rodape #coluna.rodape2 {
        text-align: center;
        padding: 10px 20px 0 20px;
    }

    #descricao {
        text-align: center;
    }

}


/*--navegacao mapas --*/
#nav {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 6px;
    display: inline-table;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

#nav #bottom {
    float: left;
    padding: 0px 40px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    display: block;
}

#nav #bottom a {
    margin: 10px 0;
    border: 1px solid #e1e1e1;
    display: inherit;
    padding: 10px 0;
    color: #abb2bd;
    border-radius: 6px;
    font-size: 110%;
    font-weight: 900;
    text-decoration: none;
    background-color: #f4f4f4;
    box-sizing: border-box;
    text-transform: uppercase;
}

#nav #bottom a:hover {
    color: #1d3c69;
    text-decoration: none;
    opacity: 85%;
    background: #f4f4f4;
    transition: 0.1s;
}

#nav #bottom span {
    line-height: 1.5em;
}


@media (max-width: 600px) {
    #nav {
        width: 90%;
        display: table;
        padding: 0;
        margin: 30px auto;
    }

    #nav #bottom a {
        margin: 5px 0;
        padding: 5px 0;
        font-size: 90%;
    }

    #nav #bottom {
        padding: 0;
        width: 100%;
        margin: 0;
        line-height: 0
    }
}


/* formularios */
#formulario {
    width: 60%;
    margin: 0 auto 2em auto;
}

#formulario .caixa1,
#formulario .caixa2 {
    background: #f6f6f6;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 3px;
    font-size: 110%;
    font-family: Roboto;
}

#formulario .caixa2 {
    width: 100%;
    max-width: 100%;
    min-height: 110px;
    max-height: 110px;
}

#formulario input[type="submit"] {
    background: #1d3c69;
    margin: 0;
    padding: 1em 6em;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
}

#formulario input[type="submit"]:hover {
    background: #426392;
    cursor: pointer;
}

@media (max-width: 600px) {
    #formulario {
        width: 100%;
        margin: 0;
    }
}

/*página inicial elementos*/
#homemodel {
    width: 80%;
    margin: 2.5em auto;
}

#model {
    width: 48%;
    background-color: #fff;
    margin: 10px;
    padding: 0;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #eee;
    position: relative;
    float: left;
    box-sizing: border-box;
    text-align: center;
    font-family: Gotham;
}

#model:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 30px #ddd;
}

#model #destaque {
    width: 100%;
    height: 180px;
    background-color: #eee;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0px 0px;
}

#model #destaque.mapa {
    background-image: url(https://dqufpr.github.io/img/capa-home1.png);
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#model #destaque.servico {
    background-image: url(https://dqufpr.github.io/img/capa-home2.png);
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#model .titulo {
    width: 100%;
    height: auto;
}

#model .titulo span {
    font-size: 28px;
    font-weight: 900;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    display: inline-block;
}

#model .descricao {
    width: 100%;
}

#model .descricao span {
    font-size: 19px;
    font-weight: 400;
    color: #8693a3;
    line-height: 1.5em;
    width: 100%;
    padding: 0px 40px 20px 40px;
    box-sizing: border-box;
    display: inline-block;
}

@media (max-width: 650px) {
    #homemodel {
        width: 90%;
        margin: 1em auto;
    }

    #model {
        width: 100%;
        margin: 20px auto
    }
}


/*destaque home*/
#caixadestaque {
    width: 80%;
    border: none;
    background: #fff;
    border-radius: 6px;
    display: inline-table;
    height: auto;
    padding: 20px;
    margin: 0 auto 1em auto;
    box-sizing: border-box
}

#caixadestaque::before {
    content: "Serviços";
    border: none;
    display: table;
    padding: 0;
    margin: 10px auto;
    font-size: 20px;
    font-family: Gotham;
    font-weight: 500;
    color: #96a9c1;
}

#caixadestaque #bottom {
    float: left;
    padding: 0px 20px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    display: block;
}

#caixadestaque #bottom a {
    margin: 10px 0;
    border: 1px solid #f2f2f2;
    display: inherit;
    padding: 20px 0;
    color: #6081b1;
    border-radius: 6px;
    font-size: 120%;
    font-weight: 900;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #e3e3e3;
}

#caixadestaque #bottom span {
    line-height: 1.5em;
}

#caixadestaque #bottom a:hover {
    color: #1d3c69;
    text-decoration: none;
    opacity: 85%;
    background: #f4f4f4;
    transition: 0.1s;
}

@media (max-width: 600px) {
    #caixadestaque {
        width: 100%;
        border: none;
        display: table;
        padding: 1em;
        box-shadow: none;
        margin: 0 auto;
    }

    #caixadestaque #bottom {
        float: left;
        padding: 0;
        width: 100%;
        margin: 0;
        line-height: 0
    }

}