/* responsivo */
@media (max-width: 450px) {
    #cabecalho #coluna {
        height: 50px;
        font-size: 13px;
        text-align: left;
}
}

/* conteudos */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #132660
}

a:hover {
    text-decoration: none;
    color: #132660
}

#pagina {
    margin: 0 auto;
    width: 100%;
    border:none;
    background: #fff;
    padding: 0;
    display: table;
}

/* descrição */
#descricao {
    width: 100%;
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    background: #fff;
}

/* mapa informacoes */
#mapa {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ccc;
}

#mapa.home {
    /* fundo div mapa*/
    background-color: #f9c;
}

h1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1152a8;
    padding: 6px 0 10px 0;
}


/*-- colunas --*/
#colunas {
    width: 100%;
    display: table;
    padding: 0;
    float: left;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#colunas #coluna {
    width: 100%;
    display: table;
    padding: 20px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

#colunas #coluna #cb {
    min-height: 600px;
    display: inline-table;
    padding: 0;
    height: auto;
    margin: 0;
}

#colunas #coluna #cb.esquerda {
    width: 100%;
    background: #ac6565;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

#colunas #coluna #cb #conteudocoluna.principal {
    text-align: center;
    font-size: 14px;
}

#colunas #coluna #cb #conteudocoluna.principal h4 {
    text-align: justify;
    font-size: 16px;
    margin: 0px 0 10px 0
}

/*-- cabeçalho --*/
#cabecalho {
    padding: 0;
    display: block;
    float: left;
    height: auto;
    width: 80%;
    margin: 0;
    z-index: 100;
    box-sizing: border-box;
}

#cabecalho p {
    padding: 15px 0 0 10px;
    height: auto;
    width: 100%;
    margin: 0;
}

#cabecalho #coluna {
    background: #1d3c69;
    color: #f6f6f7;
    padding: 0 20px;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
}


/*-- rodapé--*/
#rodape {
    display: table;
    clear: both;
    background: #efefef;
    color: #444;
    width: 100%;
    padding: 20px;
    border-top: 2px solid #175bc0;
    margin: 0;
    font-size: 80%;
    box-sizing: border-box;
}

#rodape a {
    text-decoration: none;
    color: #0b08a8
}

#rodape #coluna {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    float: left;
}

#rodape #coluna.rodape1 {
    text-align: left;
    padding: 0;
}

#rodape #coluna.rodape2 {
    text-align: right;
    padding: 0;
}

#rodape2 {
    border-top: 1px solid #ccc;
    color: #555;
    display: block;
    background: #fff;
    width: 100%;
    /*! min-height: ; */
    font-size: 70%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


/*-- menu principal --*/
#menu {
    background: #1d3c69;
    height: 45px;
    display: inline-block;
    width: 20%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#menu ul.menubar {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 100%;
}

ul.menubar ul.submenu {
    display: none;
    position: absolute;
    width: 170px
}

ul.menubar .itemmenubar {
    list-style: none;
    float: left;
}

ul.menubar .itemmenubar a {
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
}

ul li.itemmenubar a:hover {
    color: #f99;
}

ul.menubar .itemmenubar:hover>ul {
    display: block
}

ul.submenu li {
    position: relative;
    list-style: none;
    z-index: 3
}

ul.menubar ul.submenu li a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #093f8f;
    padding: 6px 10px;
    text-align: left
}


ul ul ul.sub_submenu {
    display: none;
    position: absolute;
    text-align: center;
    margin: 0;
    width: 50px;
    z-index: 3
}

ul.submenu li:hover>ul {
    display: block;
    left: 100%;
    top: 0;
    z-index: 3
}
